/*Photo by Samantha Gades on Unsplash*/
/*Photo by Jill Heyer on Unsplash*/
/*Photo by Joe Lavigne on Unsplash*/

.cover1{
	background:url(samantha-gades-BlIhVfXbi9s-unsplash.jpg);
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
}
.cover2{
	background:url(joe-lavigne-DPcIH-tt1uU-unsplash.jpg);
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
}
.cover3{
	background:url(jill-heyer-03ztkGdYWU8-unsplash.jpg);
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
}
.container{
	width:45%;
	border:2px solid #b8bab9;
	margin:auto;
	margin-top:10%;
	padding:20px;
	border-radius:20px;
	background-color:rgba(255,255,255,0.9);
}
.input-group{
	padding:8px;
	width:100%;
}
.input-group label{
	font-size:17px;
	width:120px;
	letter-spacing:1px;
	display:inline-block;
	font-weight:bold;
}

.input-group input, select{
	width:65%;
	padding:7px;
	border-radius:7px;
	border:1px solid gray;
	font-size:15px;
}
select{
	width:120px;
}
.input-group button{
	width:100px;
	padding: 5px;
	border-radius:10px;
	color:white;
	background-color:#128c2d;
	border: 1px solid green;
	font-size:15px;
	letter-spacing:1px;
	margin-top:10px;
}
p.error{
	color:red;
	padding:5px;
}